/* 애플 */

h1, h2, h3, h4, h5, h6 { font-family: Arial, Helvetica, sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased;}


  font-size: ; line-height: ; font-weight: ; letter-spacing: ;

1/ 80, 92, 600, normal 

2/ 64, 75.0003, 600, normal

3/ 56, 66.0044, 600, normal

4/ 40, 60, 600, normal

5/ 28, 31.0022, 400, 0.112

6/ 25.5, 40.5001, 600, normal

7/ 24, 31.0001, 600, 0.216

8/ 21, 32, 400, 0.231
9/ 21, 26.0001, 400, 0.336

10/ 17, 27.0001, 400, normal
11/ 17, 23.0003, 400, normal
12/ 17, 20.0002, 400, normal

13/ 14, 22, 600, normal
14/ 14, 22, 400, normal

15/ 12, 16.0004, 600, normal
16/ 12, 16.0004, 400, normal