/* 웹폰트 링크 */
@font-face { 
         font-family:Galaxie-Book;
         src:url(../font/GalaxieCopernicus-Book.woff)}

@font-face { 
         font-family:HugeGotic-Bold;
         src:url(../font/HugeGothic-Bold.woff)}  

         
/* 타이포그래피 */
h1, h2, h3, h4, h5, h6, p { font-family: HugeGotic-Bold; font-weight: 400; -webkit-font-smoothing: antialiased; }

/* <분석>
font-size: px; line-height: px; font-weight: ; letter-spacing: px;

헤더
0 로고버튼/ 이미지- 볼드

h5 메뉴명/ 36, 32, 400, normal
p3 메뉴설명/ 14, 20, 400, -0.65008 북글씨체

p2 메뉴바 설명/ 16, 24, 400, -0.65008 북글씨체
p2 메뉴바 설명/ 16, 24, 700, normal

홈
0 헬로우/ 이미지- 볼드
p 인덱스num,tittle/ 22, 15.9999, 400, normal
  
h2 콘텐츠타이틀/ 80, 84, 400, -2
p1 콘텐츠설명/ 18, 34, 400, -0.27504 북글씨체

h3 상세페이지 큰타이틀/ 56, 70, 400, -4  북글씨체
h4 상세페이지 콘텐츠타이틀/ 44, 44, 400, normal

h1 상세페이지2 큰타이틀/ 170, 170, 400, normal
h6 상세페이지2 콘텐츠타이틀/24, 30, 400, normal

푸터
0 left/ 이미지- 볼드
p3 right/ 14, 20, 400, normal  
p4 aside/ 12, 22.667, 400, -0.27504  북글씨체 */


h1 {font-size: 170px; line-height: 170px;}
h2 {font-size: 80px; line-height: 84px; letter-spacing: -2px;}
h3 {font-family: Galaxie-Book; font-size: 56px; line-height: 70px; letter-spacing: -4px;}
h4 {font-size: 44px; line-height: 44px;}
h5 {font-size: 36px; line-height: 32px;}
h6 {font-size: 24px; line-height: 30px;}

p { font-size: 22px; line-height: 15.9999px;}
.p1_serif {font-family: Galaxie-Book; font-size: 18px; line-height: 34px; letter-spacing: -0.27504px;}
.p2 { font-size: 16px; line-height: 24px; font-weight: 700;}
.p2_serif {font-family: Galaxie-Book; font-size: 16px; line-height: 24px; letter-spacing: -0.65008px;}
.p3 { font-size: 14px; line-height: 20px; font-family: HugeGotic-Bold; font-weight: 400; -webkit-font-smoothing: antialiased;}
.p3_serif {font-family: Galaxie-Book; font-size: 14px; line-height: 20px; letter-spacing: -0.65008px;}
.p4_serif {font-family: Galaxie-Book; font-size: 12px; line-height: 22.667px; letter-spacing: -0.27504px;}


/* color */
.color_bl {color: black;}
.color_wh {color: white;}

.hrcolor_bl {border-top: 1px solid black;}
.hrcolor_wh {border-top: 1px solid white;}

/* 이전 Home_logo 클래스
.logo_box {width:74px; height:74px; background-color: white; position: fixed; left: calc(50vw - 37px); top: 50px; 
       display: flex; justify-content: center; align-items: center; z-index: 200;}
.logo {width:48px; height:48px; color: #ea178c; font-family: HugeGotic-Bold; font-size: 36px; font-weight: 600; text-align: center; line-height: 48px;} */


/* Home_logo */
@keyframes logo_animation {
  0%{background-position:0% 7%}
  50%{background-position:100% 94%}
  100%{background-position:0% 7%}
 }

 #logo_h {width: 74px; height: 74px; background-color: white; color:#ea178c; font-family: HugeGotic-Bold; font-size: 32px; line-height: 32px;  display: flex; justify-content: center; align-items: center; position: fixed; top: 50px; left: calc(50% - 37px); z-index: 200; padding-top: 4px; box-sizing: border-box;
  background: linear-gradient(315deg,  #ea178c, #ffffff, #ea178c, #ffffff, #ffffff);
  background-size: 800% 800%;
  animation: logo_animation 0.8s; 
  animation-iteration-count: 1;} 

  #logo_open {width: 120px; height: 74px;  color:#ea178c; font-family: HugeGotic-Bold; font-size: 32px; line-height: 32px;  display: flex; justify-content: flex-start; align-items: center; position: fixed; top: 50px; left: calc(50% - 37px); z-index: 200; padding-top: 4px; box-sizing: border-box; display: none;}


/* header */
@keyframes header_ani_open {
  from { height: 0; }
  to { height: auto; }
}

@keyframes header_ani_close {
  from { height: auto;}
  to { height: 0;  }
}

@keyframes header_ani_open_m {
  from { height: 0vh; }
  to { height: 80vh; }
}

@keyframes header_ani_close_m {
  from { height: 80vh; }
  to { height: 0vh }
}


 header {background-color: #F4F4F4; width: 100%; height: 0; display: block; position: fixed; z-index: 100; overflow: hidden; }

 /* 트렌지션 header {background-color: #F4F4F4; width: 100vw; height: 0px; display: block; position: fixed; z-index: 100; overflow: hidden; transition: height 0.3s;} */

 nav {width: 100%; height: 440px; display: flex; justify-content: center; align-items: center; position: relative; box-sizing: border-box; position: relative;}

 .menu_wrap {width: 1050px; height: 90px; display: flex; justify-content: space-between;}
 .menu_wrap li {width: 190px; height: 90px; display: flex; flex-direction: column; align-items:center;}
 .menu_wrap li a:hover {color: #ea178c;}

 .menu_wrap hr {width: 100%; display: none;}
 .menu_wrap li p {padding: 4px 0; } 
 .menu_wrap li div {border-bottom: 1px solid black; width: 48px; height: 36px;}

 .gnb_aside {width: 320px; height: 22px; display: flex; justify-content: center; position: absolute; bottom: 76px; left: calc(50vw - 160px);}
 .gnb_aside p {letter-spacing: -1px;}
 .gnb_aside a {margin-left: 6px; padding-top: 3px;}
 .gnb_aside a:hover {color: #ea178c;}
 .gnb_aside a span {color: #ea178c;}


/*  footer  */
.bg_color_black { background-color: black;}

.home_footer {width: 100%; height: 240px; padding: 70px 0 80px; box-sizing: border-box;}
   .home_footer_content_wrap {width: 100%; height: 90px; padding: 0 calc(12.5% + 2px); display: flex; justify-content: space-between; }

    .footer_content_left {display: flex; align-items: center;}
      .footer_content_left > div {font-family: HugeGotic-Bold; font-size: 28px; line-height: 36px; border-right: 1px solid #888888; padding-right: 28px; margin-right: 28px; letter-spacing: 2px; }
      .footer_content_left > p {font-family: HugeGotic-Bold; font-size: 18px; line-height: 36px; letter-spacing: 1px;}

    .footer_content_right {display: flex; flex-direction: column;}
      .footer_content_right > div { color: #c8c8c8;  margin-bottom: 10px;}

      .footer_content_right a {margin-right: 16px;}
      .footer_content_right a:last-child {margin-right: 0;}

      .footer_aside { text-align: right; color: #c8c8c8;}


/* main_last -홈에서는 제외 */
.main_last {width: 100%; background-image: url(../img/9.jpg); background-size: cover;}
  .main_last > div:first-child {background-color: rgba(0,0,0,0.7); padding: 200px 0;}
  .main_last_wrap {width: 100vw; display: flex; justify-content: start;}
  .main_last_left {width: 18.98734%; padding-bottom: 18.98734%; margin-left: 12.65823%; margin-right: 1.25%; background-image: url(../img/magenta-hero.gif); background-size: cover;}

  .main_last_right {width: 43.03797%; margin-left: 5.06329%; margin-right: 1.26582%; display: flex; flex-direction: column; justify-content: center;}
  .main_last_right h2 {color: white;}
  .main_last_right p {color: white;}



/* hero video */
.hero_video {width: 100%; height: 80vh; display: flex; justify-content: center; align-items: center; position: relative;}
.hero_video video {min-width: 100vw; min-height: 80vh; border: none; right: 0; bottom: 0; position: absolute; background-size: cover;}


/* hero img */
.hero_img {width: 100%; height: 80vh; background-size: cover; background-position: center; padding: 140px 0 60px;}



/*/// 미디어쿼리 ///*/
@media screen and (max-width: 999px) {
  /* Header */ 
  .menu_wrap {padding: 0 100px;}
  .menu_wrap li {width: 144px; }
  .menu_wrap h5 {font-size: 32px; line-height: 32px;}

  /* 퓨터 */ 
  .home_footer {height: 280px; padding: 60px 70px 50px;}
  .home_footer_content_wrap { flex-direction: column; align-items: flex-start; height: 150px;  padding: 0; }
  .footer_content_left > div {padding-right: 22px; margin-right: 22px; }
  .footer_aside {text-align: left; }
  } 

@media screen and (max-width: 767px) {
 /* Home_logo */ 
  #logo_h {width: 62px; height: 62px; font-size: 30px; line-height: 30px; top: 24px;} 
  #logo_open {top: 24px;}

  /* Header */ 
  nav { height: 80vh; padding: 120px 52px 190px;}
  .menu_wrap {width: 100%; height: 100%; flex-direction: column; align-items: center; padding: 0;}
  .menu_wrap li {width: 100%; height: 90px; flex-direction: row; justify-content: space-between; align-items:center; }
  .menu_wrap h5 { font-size: 20px;  line-height: 26px;}

  .menu_wrap hr {margin: 0 15px; display: block;}
  .menu_wrap p {font-size: 16px; line-height: 26px; white-space: nowrap; } 
  .menu_wrap li div {display: none;}

  .gnb_aside { bottom: 60px;}

  /* 퓨터 */ 
  .home_footer {padding: 60px 20px 50px 44px;}
  .footer_content_left > div {font-size: 25px; line-height: 34px;  padding-right: 20px; margin-right: 20px; letter-spacing: 2px; }
      .footer_content_left > p { font-size: 15px; line-height: 24px; letter-spacing: 0.5px;}
      .footer_content_right a {margin-right: 12px;}
  
 
  } 


